// Base Compass setup
@import blueprint/reset
@import compass/utilities

// Import extensions
@import extensions/border_radius
@import extensions/last_child
@import extensions/css3/gradient

// Import partials
@import partials/nav_main
@import partials/crunchbase
@import partials/audio_player

=font-sans
  font-family: Helvetica, Arial, sans-serif

// Links
a
  color: #000
  &:hover
    color: #000
    text-decoration: none
  &:focus,
  &:active
    outline: none