=crunchbase
  .cbw
    border: none
    border: 1px solid #cecece
    font-family: Helvetica, Arial, sans-serif
    font-size: 13px
    margin: 20px 0 0 0 !important
    padding: 0
    a
      &.cbw_header_get
        display: none !important
      &.cbw_header_toggle
        text-transform: capitalize
    .cbw_subheader
      background: #e1e1e1 !important
      border-bottom: 1px solid #cecece !important
    .cbw_header, .cbw_subheader
      a
        color: #000 !important
      .cbw_header_text
        padding: 10px !important
    .cbw_subcontent
      border: none !important
      margin: 0 !important
      padding: 10px 15px 0 15px !important
      p
        font-size: 13px
        margin: 10px 0 0 0 !important
        padding: 0 !important
    .cbw_footer
      background: none !important
      border-top: 1px solid #cecece
      color: #555 !important
      margin-top: 10px
      a
        background: #e1e1e1
        color: #000 !important
        padding: 1px 3px